In [34]:
import pandas as pd

df = pd.read_csv(r"word_list\english\unigram_freq.csv")
df["word"] = df["word"].apply(str)
df["word_len"] = df["word"].apply(len)
df.head()

  word        count  word_len
0  the  23135851162         3
1   of  13151942776         2
2  and  12997637966         3
3   to  12136980858         2
4    a   9081174698         1

In [35]:
df.dtypes

word        object
count        int64
word_len     int64
dtype: object

In [46]:
df.describe()

              count       word_len
count  3.333330e+05  333333.000000
mean   1.764374e+06       7.470331
std    6.629987e+07       2.791028
min    1.271100e+04       1.000000
25%    2.122400e+04       5.000000
50%    4.151900e+04       7.000000
75%    1.365760e+05       9.000000
max    2.313585e+10      38.000000

In [47]:
df[df["word_len"] == 6].describe()

              count  word_len
count  4.904000e+04   49040.0
mean   1.212537e+06       6.0
std    1.184658e+07       0.0
min    1.271100e+04       6.0
25%    2.050575e+04       6.0
50%    3.921850e+04       6.0
75%    1.268868e+05       6.0
max    1.024093e+09       6.0

In [56]:
df.query("'running' in word")

         word     count  word_len
1102  running  72879426         7