In [24]:
import json
import pandas as pd

word_list = []
with open(r"word_list\spanish\es_wordlist.json") as file:
    json_data = json.load(file)
    for d in json_data.items():
        word_list.append([d[0], d[1]])

df = pd.DataFrame(word_list)
df.columns = ["word", "count"]
df["word"] = df["word"].apply(str)
df["word_len"] = df["word"].apply(len)
df = df.sort_values(by=["count"], ascending=False)
df.head()

        word     count  word_len
1359106   de  74710336         2
986998    la  36800428         2
565730    el  31538622         2
458717    en  30624538         2
1816066  que  25098939         3

In [25]:
df.dtypes

word        object
count        int64
word_len     int64
dtype: object

In [23]:
df.describe()

              count
count  2.976458e+06
mean   3.463518e+02
std    6.317230e+04
min    1.000000e+00
25%    1.000000e+00
50%    2.000000e+00
75%    5.000000e+00
max    7.471034e+07

In [26]:
df[df["word_len"] == 6].describe()

              count  word_len
count  4.185460e+05  418546.0
mean   2.240954e+02       6.0
std    7.628896e+03       0.0
min    1.000000e+00       6.0
25%    1.000000e+00       6.0
50%    2.000000e+00       6.0
75%    4.000000e+00       6.0
max    1.596023e+06       6.0

In [32]:
df.query("'libro' in word")

         word  count  word_len
996015  libro  50875         5