In [43]:
import json
import pandas as pd


df = pd.read_csv(r"word_list\english\unigram_freq.csv")
df["word"] = df["word"].apply(str)
df["word_len"] = df["word"].apply(len)
df = df.sort_values(by=["word"])
df.head()

         word       count  word_len
4           a  9081174698         1
2601       aa    30523331         2
6063      aaa    10243983         3
20055    aaaa     1595769         4
144337  aaaah       52821         5

In [44]:
df.dtypes

word        object
count        int64
word_len     int64
dtype: object

In [45]:
df.describe()

              count       word_len
count  3.333330e+05  333333.000000
mean   1.764374e+06       7.470331
std    6.629987e+07       2.791028
min    1.271100e+04       1.000000
25%    2.122400e+04       5.000000
50%    4.151900e+04       7.000000
75%    1.365760e+05       9.000000
max    2.313585e+10      38.000000

In [46]:
df[(df["word_len"] == 7) & (df["count"] > 2e5)].describe()

              count  word_len
count  9.737000e+03    9737.0
mean   5.551506e+06       7.0
std    2.282529e+07       0.0
min    2.000140e+05       7.0
25%    3.341310e+05       7.0
50%    6.789680e+05       7.0
75%    2.153753e+06       7.0
max    6.458242e+08       7.0

In [47]:
df.query("'running' in word")

         word     count  word_len
1102  running  72879426         7

In [48]:
configs = [
    {"len": 5, "guess_min_counts": 2e5, "answer_min_counts": 2e6},
    {"len": 6, "guess_min_counts": 2e5, "answer_min_counts": 2e6},
    {"len": 7, "guess_min_counts": 2e5, "answer_min_counts": 2e6},
]


for config in configs:
    l = config["len"]

    with open(rf"vocabs\en-len{l}-guess.json", "w") as f:
        count = config["guess_min_counts"]
        df_filtered = df[(df["word_len"] == l) & (df["count"] >= count)]
        data = df_filtered["word"].tolist()
        json.dump(data, f)

    with open(rf"vocabs\en-len{l}-answer.json", "w") as f:
        count = config["answer_min_counts"]
        df_filtered = df[(df["word_len"] == l) & (df["count"] >= count)]
        data = df_filtered["word"].tolist()
        json.dump(data, f)