In [41]:
import json
import pandas as pd

word_list = []
with open(r"word_list\spanish\es_wordlist.json") as file:
    json_data = json.load(file)
    for d in json_data.items():
        word_list.append([d[0], d[1]])

In [45]:
df = pd.DataFrame(word_list)
df.columns = ["word", "count"]
df["word"] = df["word"].apply(lambda x: str(x).lower())
agg_functions = {"word": "first", "count": "sum"}
df = df.groupby(df["word"], as_index=False).aggregate(agg_functions)

df["word_len"] = df["word"].apply(len)
df = df.sort_values(by=["word"])
df.head()

        word     count  word_len
910781    de  75342586         2
1614395   la  40935580         2
1069848   el  38831298         2
1087043   en  32696018         2
2122579  que  25128986         3

In [46]:
df.dtypes

word        object
count        int64
word_len     int64
dtype: object

In [47]:
df.describe()

              count      word_len
count  2.672628e+06  2.672628e+06
mean   3.857258e+02  9.975893e+00
std    6.993461e+04  6.187905e+00
min    1.000000e+00  1.000000e+00
25%    1.000000e+00  6.000000e+00
50%    2.000000e+00  8.000000e+00
75%    4.000000e+00  1.100000e+01
max    7.534259e+07  1.200000e+02

In [48]:
df[df["word_len"] == 6].describe()

              count  word_len
count  3.827520e+05  382752.0
mean   2.450522e+02       6.0
std    8.394696e+03       0.0
min    1.000000e+00       6.0
25%    1.000000e+00       6.0
50%    2.000000e+00       6.0
75%    4.000000e+00       6.0
max    1.616249e+06       6.0

In [49]:
df.query("'libro' in word")

          word  count  word_len
1650975  libro  62042         5